
body{
    font-family: "Roboto", serif;
    background-image: url(img/zjgs096khv591.jpg)
}


.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    align-items: center;
}
.nav-btn{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: red;
}
.h1{
    color: white;
    text-align: center;
    font-size: 40px;
}
.p1{
    color: white;
    text-align: center;
    font-size: 2em;
    stroke:white;
    font-weight: 600;
}
.article{
    color: white;
    text-align: center;
    font-weight: 600;
}
.last-sect{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 350px;
    padding-top: 20px;
}
.email{
    height: 50px;
    width: 350px;
    background-color: transparent;
    border: 1px solid;
    border-color: white;
    padding-left: 10px;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.last-btn{
    height:50px ;
    width: 150px;
    background-color: red;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    font-size: 20px;

}